/*
 CSS Styles to be used by all the files in the website
 */


body {
  background: url('');
}
#logo {
  postion: relative;
  width: 50px;
  height: 50px;
}

#logo img {
  float: left;
  position: relative;

}


a {
  text-decoration: none;
}

nav {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: black;
}

nav ul {
  list-style-type: none;
  margin: 10px auto;
}

nav ul li:first-child {
  margin-left: 31%;
}

nav ul li {
  position: relative;
  display: inline-block;
  margin: 0 5%;
  padding: 0 1%;
}

nav ul li a {
  display: block;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 0;
  text-transform: uppercase;
  color: white;
  transition: color 0.4s ease 0s;
}

nav ul li:hover a, nav ul li.active a {
  color: #9E1E26;
}

#main {
  margin: 20px 0;
  height: 100%;
}

#main p {
  margin: 0 auto;
  width: 24%;
  font-size: 0.9em;
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  color: #333333;
  }

footer {
  width: 100%;
  position: relative;
  bottom: 0px;
  margin-top: 20px;
  border-top: 2px solid #333;
  text-align: center;
}

footer p {
  color: #444;
}

#footer_links {
  position: absolute;
  top: 95%;
}

#footer_links ul {
  list-style-type: none;
}

#footer_links ul li {
  float: left;
  margin: 10px 10px 0 10px;
}

#footer_links ul li a {
  font-weight: 300;
  font-size: 0.8em;
  color: #555;
}

span.login {
  float : right;
  margin-right: 20px;
  margin-top: 10px; 
}

.button {
  display: inline-block;
  padding: 7px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}